In [5]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://quinn-ia340-lab1/data.csv') # load the data from s3
df.head() #show the top 5 rows

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [3]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://quinn-ia340-lab1/Film_Locations_in_San_Francisco.csv') # load the data from s3
df.head() #show the top 5 rows

,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,Actor 2,...,Point,Longitude,Latitude,Analysis Neighborhood,Supervisor District,data_as_of,data_loaded_at,SF Find Neighborhoods,Analysis Neighborhoods,Current Supervisor Districts
0,"Murder in the First, Season 3",2016,600 Octavia Street,NaN,Turner North Center Productions,Turner Network Television (TNT),Steven Bochcho,Eric Lodal,Taye Diggs,Kathleen Robertson,...,POINT (-122.4247155 37.7778237),-122.424716,37.777824,Hayes Valley,5.0,2024/12/06 12:17:47 PM,2024/12/18 02:30:38 PM,22.0,9.0,11.0
1,Terminator - Genisys,2015,"Mission St., Embarcadero, and Front between Cl...",NaN,T5 Productions LLC,Paramount Pictures,Alan Taylor,James Cameron,Arnold Schwarzenegger,Jason Clarke,...,POINT (-122.3936136 37.7954425),-122.393614,37.795443,Financial District/South Beach,3.0,2024/12/06 12:17:47 PM,2024/12/18 02:30:38 PM,108.0,8.0,3.0
2,Terminator - Genisys,2015,Powell St at Geary St,NaN,T5 Productions LLC,Paramount Pictures,Alan Taylor,James Cameron,Arnold Schwarzenegger,Jason Clarke,...,POINT (-122.4082534 37.7873806),-122.408253,37.787381,Tenderloin,3.0,2024/12/06 12:17:47 PM,2024/12/18 02:30:38 PM,19.0,36.0,3.0
3,Faces of Death,1978,NaN,NaN,F.O.D Productions,Aquarius Releasing,Conan Le Cilaire,Alan Black,Michael Carr,NaN,...,NaN,NaN,NaN,NaN,NaN,2024/12/06 12:17:47 PM,2024/12/18 02:30:38 PM,NaN,NaN,NaN
4,Chance- Season 1 ep103,2016,60 Potomac,NaN,TVM Productions,HULU,Michael Lehmann,Kem Nunn,Hugh Laurie,Gretchen Mol,...,POINT (-122.4324326 37.7701803),-122.432433,37.770180,Haight Ashbury,8.0,2024/12/06 12:17:47 PM,2024/12/18 02:30:38 PM,28.0,3.0,5.0